name: Auto Update Channels Data

on:
  schedule:
    - cron: "0 */6 * * *"   # Every 6 hours
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download latest Channels_data.json
        run: |
          curl -L -o Channels_data.json \
          https://raw.githubusercontent.com/MundaZaiNi/Mrgify-BDIX-IPTV/refs/heads/main/Channels_data.json

      - name: Commit and push if changed
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          if git diff --quiet; then
            echo "No changes detected"
          else
            git add Channels_data.json
            git commit -m "Auto update Channels_data.json"
            git push
          fi
